<mat-toolbar color="primary" class="toolbar">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle();" aria-label="Toggle sidenav" class="menu-button">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="toolbar-title">Sistema de Venta</h1>

    <span class="spacer"></span>

    <label class="user-info">
      {{correoUsuario}} | {{rolUsuario}}
    </label>

    <button mat-icon-button (click)="cerrarSesion()" aria-label="Logout">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" class="sidenav" opened="true">
    <mat-nav-list>
      <mat-list-item *ngFor="let menu of listaMenus" [routerLink]="menu.url" class="nav-item">
        <mat-icon mat-list-icon>{{menu.icono}}</mat-icon>
        <div mat-line>{{menu.nombre}}</div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
