<h1 class="dashboard-title">Inicio - Resumen última semana</h1>

<mat-card class="dashboard-card">
  <mat-card-content>
    <mat-grid-list cols="3" rowHeight="150px" gutterSize="20px">
      <mat-grid-tile>
        <mat-card class="card-info">
          <mat-card-header>
            <div mat-card-avatar class="icon-container">
              <mat-icon color="accent">payments</mat-icon>
            </div>
            <mat-card-title>Total Ingresos</mat-card-title>
            <mat-card-subtitle>MX ${{totalIngresos}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card class="card-info">
          <mat-card-header>
            <div mat-card-avatar class="icon-container">
              <mat-icon color="warn">sell</mat-icon>
            </div>
            <mat-card-title>Total Ventas</mat-card-title>
            <mat-card-subtitle>{{totalVentas}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card class="card-info">
          <mat-card-header>
            <div mat-card-avatar class="icon-container">
              <mat-icon color="primary">collections_bookmark</mat-icon>
            </div>
            <mat-card-title>Total Productos</mat-card-title>
            <mat-card-subtitle>{{totalProductos}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-card class="chart-card">
      <mat-card-content>
        <div class="chart-container">
          <canvas id="chartBarras"></canvas>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
